# Header 1

## Header 2

### Header 3

#### Header 4

##### Header 5

[Google](https://www.google.com/)

![Picture](btb.jpg)

This is my notebebook.

## Python Comment

In [4]:
# print Hello world


print('Hello World!')

Hello World!

In [5]:
# Add 3 and 7
print(3+7)

10

### Python Data types

1. Text(string)
2. Numeric data types (int, float, complex)
3. Lists
4. Tuples
5. Dictionaries
6. Boolean (True/False)

In [10]:
#string
print('This is a string')
print('5')
print("The dog's bone is outside")

This is a string
5
The dog's bone is outside

In [11]:
#string (escape character)

print("We are the so called \"Vikings\" from the north")

We are the so called "Vikings" from the north

In [15]:
#string (escape character)
print('This is my sentence. \nThis is a new line')

This is my sentence.
This is a new line

### Concatenation

In [33]:
#basic operations with stirng variables
myname = 'Christopher'
print(myname)

Christopher

In [35]:
my_gender = 'male'
print(my_gender)

male

In [36]:
print(myname + ' is my name')

Christopher is my name

In [37]:
lastname = 'Ajewole'

In [40]:
age = 14

### Casting

In [47]:
print('Hi, my name is ' + myname + ' ' + lastname  + '.\n'  + 'I am ' + str(age) + 'years old.' )

Hi, my name is Christopher Ajewole.
I am 14years old.

In [48]:
weight = 4.5

In [49]:
print('Hi my name is ' + myname + ' I weigh ' + str(weight))

Hi my name is Christopher I weigh 4.5

In [56]:
#checking the data type of a variable

print(type(weight))
print(type(lastname))
print(type(age))

<class 'float'>
<class 'str'>
<class 'int'>

### Formatting

In [61]:
#string formatting

qty = 5
unit_price = 56.7
statement = 'Total is '
total = qty * unit_price


print('Total is {}\n'.format(total), type('Total is {}'.format(total)))

Total is 283.5
 <class 'str'>

### Variables

In [16]:
Var1 = 'Hello World'

In [18]:
print(Var1)

Hello World

In [19]:
Var = 43

In [22]:
print(Var)

43

In [23]:
x=23

In [24]:
print(x)

23

In [25]:
y = 10

In [30]:
#basic operations with variables

print(x+y)
print(x*y)
print(x**y) #raised to power
print(y/x)
print(x-y)
print(25**0.5)

33
230
41426511213649
0.43478260869565216
13
5.0

In [32]:
z = x+y
print(z)

33

### Lists
Lists are denoted by '[]'

In [64]:
my_empty_list = []
my_list = ['Ife', 5, '3.4', 4.5, True, False, [3, 'Ade']]

In [69]:
# Accessing a lists, Items in a list have an index position starting from zero(0)

my_list[3]

4.5

In [68]:
my_list[-1]

[3, 'Ade']

In [70]:
my_list[6][1]

'Ade'

In [7]:
#int(integer)
print(3)

3

In [8]:
#float(decimal)
print(3.4)

3.4

In [ ]:
#Boolean
#print(True) is not equal to print('True')